#board {
  margin-top: 10px;
}

.box {
  border: 5px solid black;
  height: 150px;
}

body {
background-color: Green;
}

.box{
    background: light-blue;
    text-align: center;
    padding-top: 15px;
    font-size: 75px;
    color: Yellow;
}
